<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Surveillance</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Graphing" nzIcon="sliders">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/graph">
              <span nz-icon nzType="dot-chart" nzTheme="outline"></span>
              Graph Display
            </a>
          </li>
          <li nz-menu-item nzMatchRouter hidden="True">
            <a routerLink="/motion">
              <span nz-icon nzType="rollback" nzTheme="outline"></span>
              Motion Replay
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/node/add">
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              Add Node
            </a>
          </li>
          <li nz-menu-item nzMatchRouter hidden="True">
            <a routerLink="/node/update">
              <span nz-icon nzType="retweet" nzTheme="outline"></span>
              Update Node
            </a>
          </li>
          <li nz-menu-item nzMatchRouter hidden="True">
            <a routerLink="/edge/add">
              <span nz-icon nzType="api" nzTheme="outline"></span>
              Add Link
            </a>
          </li>
          <li nz-menu-item nzMatchRouter hidden="True">
            <a routerLink="/edge/delete">
              <span nz-icon nzType="delete-row" nzTheme="outline"></span>
              Delete Link
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
